node_modules/
dist/
dist-ssr/
build/
.env
.env.*
!.env.example
.DS_Store
*.log
.vercel
.idea/
.vscode/*
!.vscode/extensions.json
*.local
.turbo
coverage/
s and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
